<h1 align="center">Welcome to blog</h1>

<p class="writte">This blog was created in order for you to explore your creativity and help other people who want to follow that path or who have doubts about the subject or you can even have a blog of notes online and thus avoid losing all your notes important. It is time for other people to read and learn everything you have to say. go ahead register on the blog</p>

<p class="writte">In the following image you can see an example</p>

<%= image_tag("default.png", alt: "does not load") %>

<p class="about"><%= link_to 'About', about_path %></p>